<!DOCTYPE html>
<html lang="en">
<%- include('components/head', {title : data.company_name}) %>
<body>
  <!-- make color sting standard for URL-->
  <% let color = data.color.split("#") %> 

  <div class="company-container">
    <div>
      <img src="https://dummyimage.com/600x400/<%= color %>/fff.jpg" alt="">
    </div>
    <div class="content">
      <h1>Company <%= data.company_name %></h1>
      <h3>Manager: <%= data.manager_name %> </h3>
      <!-- star-rate component-->
      <%- include('components/star-rate', {rate:data.rate}) %> 
      <p><%= data.content  %> </p>
    </div>
  </div>
</body>
</html>